
samp/samp.xcodeproj/project.xcworkspace/xcshareddata/samp.xccheckout

samp/samp.xcodeproj/project.xcworkspace/xcuserdata/YESH.xcuserdatad/UserInterfaceState.xcuserstate

samp/samp/main.cpp

eg.cpp

a.out

print.cpp

Devu_and_Lucky_Numbers.cpp

Samp.cpp
